<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Flight Details</title>
</head>
<body>
  <%- include('../partials/nav.ejs') %> 
  <h1>Flight Details</h1>
  <h1>Airline: <%= flight.airline %></h1>
  <h1>Airport: <%= flight.airport %></h1>
  <h1>Flight Number: <%= flight.flightNo %></h1>
  <h1>Departure: <%= flight.departs %></h1>
  <div>Destinations:</div>\
  <ul>
   <% flight.destinations.forEach(destination => { %>
      <li>
        <%= destination.airport %>
      </li>
    <% }) %>
  </ul> 
  <form action="/flights/<%= flight._id %>/tickets" method="POST">
  <input placeholder='Input Seat No (A-F)(1-99)' name="seat" required pattern="[A-F][1-9]\d?">
  <input placeholder='Enter Price' type="number" name='price'>
  <button>Submit Choices</button>
  </form>
  <div>
    <% flight.tickets.forEach(ticket => { %>
    <h2>Seats:<%= ticket.seat %></h2>
    <h2>Price:<%= ticket.price %></h2>
    <% }) %>
    <form action="/flights/<%= flight._id %>/destinations" 
          method="post">
        <select name="destinationId">
            <% newDestination.forEach(destination => { %>
                <option value="<%= destination._id%>"><%= destination.airport %></option>
                <% }) %>
        </select>
        <button type="submit">Add</button>
    </form>
  </div>
</body>
</html>